<div class="container-fluid">
  <div class="row" data-hook="">
    <aside class="col-sm-4 col-md-3" data-hook="" id="sidebar">
      <div data-hook="homepage_sidebar_navigation">
        <nav class="sidebar-item" data-hook="" id="taxonomies">
          <h4 class="taxonomy-root">Shop by Categories</h4>
          <div class="list-group">
            <% Spree::Taxon.find_by_name("Categories").children.each do |taxon| %>
              <%= link_to taxon.name, seo_url(taxon),class: "list-group-item list-group-item-action #{@taxon.present? && @taxon.id == taxon.id ? 'active' : '' }" %>

            <% end %>

          </div>
        </nav>

      </div>

    </aside>

    <div class="col-md-12 col-lg-9 homepage_products" data-hook="homepage_products">
      <%= paginate @products, theme: 'twitter-bootstrap-4' %>

      <div class="row taxon_products">
        <% @products.each_with_index do |product,index| %>

          <div id="product_<%= product.id %>" class="col-sm-4 col-6 mb-3 mb-md-4 pr-sm-0 pr-md-0 pl-md-4 pl-sm-4 <%= index&1 == 0 ? 'pl-0 pr-2' : 'pr-0 pl-2' %>">
            <%= render 'spree/shared/product', product: product, image_class: 'product-component-plp-image' %>
          </div>
<!--        <div id="product_<%#= each_p.id %>>" class="col-sm-4 col-6 mb-3 mb-md-4 pr-sm-0 pr-md-0 pl-md-4 pl-sm-4 pl-0 pr-2">-->

<!--          <a class="h-80 d-flex flex-column justify-content-between" href="/products/<%#= each_p.slug %>?taxon_id=<%#= @taxon.present? ? each_p.taxons.first.id : @taxon %>">-->
            <%#= large_image(each_p, class:"product-component-image d-block mw-100 w-100", alt:"#{each_p.name}") %>
            <%#= product_image(each_p, class:"product-component-image d-block mw-100 w-100", alt:"#{each_p.name}") %>
<!--            <div>-->
<!--              <div class="product-component-name" title=" <%#= each_p.name %>">-->
                <%#= each_p.name %>
<!--              </div>-->
<!--              <div class="product-component-price"> <%#= each_p.price %> <%#= each_p.cost_currency %> </div>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->

        <% end %>
      </div>

      <div class="row pl-md-4 pl-sm-4">
        <div class="col-12 pagination_bottom">
          <div class="plp-pagination d-none d-lg-flex">
            <ul class="pagination mt-4 ">
              <% if @products.respond_to?(:total_pages) %>
                <%= paginate @products, theme: 'twitter-bootstrap-4' %>
              <% end %>
            </ul>

          </div>
          <div class="plp-pagination d-lg-none">
            <ul class="pagination mt-4 ">
              <% if @products.respond_to?(:total_pages) %>
                <%= paginate @products, theme: 'twitter-bootstrap-4' %>
              <% end %>

            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>


</style>