<div class="taxon">


  <%#= render partial: 'spree/shared/products', locals: { products: taxon_preview(taxon, 99), taxon: taxon } %>

  <div data-product-carousel="" data-product-carousel-taxon-id="trending" class="mb-3" data-product-carousel-loaded="true">
    <p class="font-weight-bold text-center homepage-carousel-text text-uppercase">
    <%#= taxon.name %>
      <%= link_to taxon.name, seo_url(taxon),class: "list-group-item list-group-item-action" %>
  </p>
    <% if taxon.products.empty? %>

      <div id="trending-desktop" class="carousel slide d-none d-md-block homepage-carousel" data-interval="false">
        <div class="carousel-inner carousel-inner-width">
          <div class="carousel-item active">
            <div class="container position-relative">
          <%= Spree.t(:no_products_found) %>
            </div>
          </div>
        </div>
      </div>

    <% else %>

      <div id="taxon-<%= taxon.id %>" class="carousel slide d-md-none homepage-carousel" data-interval="false">
        <div class="carousel-inner">
          <% taxon.products.each_with_index do | product,index|  %>
            <% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>
          <div class="carousel-item <%= index==0 ? "active" : "" %>">
            <div class="container">
              <div class="row carousel-items-container">
                <div class="col-12">
                  <a class="h-100 d-flex flex-column justify-content-between" href="<%= url %>">
<!--                    <img data-src="/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBLUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f57e58e088a4318029b62c7b3d3d2abc30e1e788/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDam9NWjNKaGRtbDBlVWtpQzJObGJuUmxjZ1k2QmtWVU9ndHlaWE5wZW1WSklnMDBORGg0TmpBd1BnWTdCbFE2QzJWNGRHVnVkRUFIT2c5aVlXTnJaM0p2ZFc1a1NTSUtjMjV2ZHpJR093WlVPZ3h4ZFdGc2FYUjVhVlU9IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--43c14ae99a09f506e85bab9006d77da15d608fbb/db-seeds-photos-products-Sportswear-Sweatshirts-sport%20windproof%20jacket-blue-AdobeStock_57944839.jpg" data-srcset="https://demo.spreecommerce.org/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBLUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f57e58e088a4318029b62c7b3d3d2abc30e1e788/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTWpjNGVETTNNVDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--79b8d9df9b16ffd9fff2125ab225f8efc86b9186/db-seeds-photos-products-Sportswear-Sweatshirts-sport%20windproof%20jacket-blue-AdobeStock_57944839.jpg 1200w, https://demo.spreecommerce.org/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBLUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f57e58e088a4318029b62c7b3d3d2abc30e1e788/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTWpJeWVESTVOejRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--b37d44b8a41ac13e513e5798f27c7382602ac01d/db-seeds-photos-products-Sportswear-Sweatshirts-sport%20windproof%20jacket-blue-AdobeStock_57944839.jpg 992w, https://demo.spreecommerce.org/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBLUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f57e58e088a4318029b62c7b3d3d2abc30e1e788/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTXpVd2VEUTJPRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--ef1ee80bbdbbc97b8e7f39fe8446a6d7f18f4778/db-seeds-photos-products-Sportswear-Sweatshirts-sport%20windproof%20jacket-blue-AdobeStock_57944839.jpg 768w, https://demo.spreecommerce.org/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBLUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f57e58e088a4318029b62c7b3d3d2abc30e1e788/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTWpVMGVETTBNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--5d87046b996947b94c6f1197ca0dc841d0f964a5/db-seeds-photos-products-Sportswear-Sweatshirts-sport%20windproof%20jacket-blue-AdobeStock_57944839.jpg 576w" class="product-component-image d-block mw-100 w-100 ls-is-cached lazyloaded" alt="Sport Windproof Jacket" src="/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBLUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f57e58e088a4318029b62c7b3d3d2abc30e1e788/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDam9NWjNKaGRtbDBlVWtpQzJObGJuUmxjZ1k2QmtWVU9ndHlaWE5wZW1WSklnMDBORGg0TmpBd1BnWTdCbFE2QzJWNGRHVnVkRUFIT2c5aVlXTnJaM0p2ZFc1a1NTSUtjMjV2ZHpJR093WlVPZ3h4ZFdGc2FYUjVhVlU9IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--43c14ae99a09f506e85bab9006d77da15d608fbb/db-seeds-photos-products-Sportswear-Sweatshirts-sport%20windproof%20jacket-blue-AdobeStock_57944839.jpg" srcset="https://demo.spreecommerce.org/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBLUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f57e58e088a4318029b62c7b3d3d2abc30e1e788/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTWpjNGVETTNNVDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--79b8d9df9b16ffd9fff2125ab225f8efc86b9186/db-seeds-photos-products-Sportswear-Sweatshirts-sport%20windproof%20jacket-blue-AdobeStock_57944839.jpg 1200w, https://demo.spreecommerce.org/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBLUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f57e58e088a4318029b62c7b3d3d2abc30e1e788/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTWpJeWVESTVOejRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--b37d44b8a41ac13e513e5798f27c7382602ac01d/db-seeds-photos-products-Sportswear-Sweatshirts-sport%20windproof%20jacket-blue-AdobeStock_57944839.jpg 992w, https://demo.spreecommerce.org/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBLUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f57e58e088a4318029b62c7b3d3d2abc30e1e788/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTXpVd2VEUTJPRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--ef1ee80bbdbbc97b8e7f39fe8446a6d7f18f4778/db-seeds-photos-products-Sportswear-Sweatshirts-sport%20windproof%20jacket-blue-AdobeStock_57944839.jpg 768w, https://demo.spreecommerce.org/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBLUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f57e58e088a4318029b62c7b3d3d2abc30e1e788/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTWpVMGVETTBNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--5d87046b996947b94c6f1197ca0dc841d0f964a5/db-seeds-photos-products-Sportswear-Sweatshirts-sport%20windproof%20jacket-blue-AdobeStock_57944839.jpg 576w">-->
                    <%#= small_image(product, class:"product-component-image d-block mw-100 w-100", alt:"#{product.name}") %>
                    <%= plp_and_carousel_image(product, "w-100") %>
                  <div>
                    <div class="product-component-name" title="<%= product.name %>">
                      <%= product.name %>
                    </div>
                    <div class="product-component-price"><%= product.price %> <%= current_currency %></div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

        <% end %>
        </div>
        <a class="d-flex position-absolute justify-content-center align-items-center carousel-icon-control carousel-icon-control--previous" href="#taxon-<%= taxon.id %>" role="button" data-slide="prev">
      <span class="d-flex justify-content-center align-items-center carousel-icon-control-rounded" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 11.344 21.156" width="20px" class="spree-icon spree-icon-arrow spree-icon-arrow-left"><path d="m42.617 25.669a.685.685 0 0 0 .968 0 .685.685 0 0 0 0-.968l-8.515-8.516 8.516-8.516a.685.685 0 0 0 -.968-.968l-9.017 9a.685.685 0 0 0 0 .968z" fill="currentColor" transform="matrix(-1 0 0 -1 44.744 26.869)"></path></svg>

      </span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="d-flex position-absolute justify-content-center align-items-center carousel-icon-control carousel-icon-control--next" href="#taxon-<%= taxon.id %>" role="button" data-slide="next">
      <span class="d-flex justify-content-center align-items-center carousel-icon-control-rounded" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 11.344 21.156" width="20px" class="spree-icon spree-icon-arrow spree-icon-arrow-right"><path d="m42.617 25.669a.685.685 0 0 0 .968 0 .685.685 0 0 0 0-.968l-8.515-8.516 8.516-8.516a.685.685 0 0 0 -.968-.968l-9.017 9a.685.685 0 0 0 0 .968z" fill="currentColor" transform="matrix(-1 0 0 -1 44.744 26.869)"></path></svg>

      </span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div id="trending-desktop" class="carousel slide d-none d-md-block homepage-carousel" data-interval="false">
        <div class="carousel-inner carousel-inner-width">
          <% i=0 %>
          <% taxon.products.each_slice(4) do | product_slice|  %>

          <div class="carousel-item <%= i==0 ? "active" : "" %>" >
            <div class="container position-relative">
              <a class="d-flex position-absolute justify-content-center align-items-center carousel-icon-control carousel-icon-control--previous" href="#trending-desktop" role="button" data-slide="prev">
              <span class="d-flex justify-content-center align-items-center carousel-icon-control-rounded" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 11.344 21.156" width="20px" class="spree-icon spree-icon-arrow spree-icon-arrow-left"><path d="m42.617 25.669a.685.685 0 0 0 .968 0 .685.685 0 0 0 0-.968l-8.515-8.516 8.516-8.516a.685.685 0 0 0 -.968-.968l-9.017 9a.685.685 0 0 0 0 .968z" fill="currentColor" transform="matrix(-1 0 0 -1 44.744 26.869)"></path></svg>

              </span>
                <span class="sr-only">Previous</span>
              </a>

              <div class="row carousel-items-container">
                <% product_slice.each_with_index  do |product,index| %>
                  <% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>
                  <div class="col-4 <%= index==0 ? "active" : "" %>">
                    <div class="h-100 d-flex flex-column justify-content-between">
                  <a class="" href="<%= url %>">
                    <%#= image_tag(main_app.url_for(product.images[0].url(:product)), class:"product-component-image d-block mw-100 w-100 lazyload", alt:"#{product.name}"), main_app.url_for(product.images[0].url(:product))) %>
                    <%#= image_tag(main_app.url_for(product.images[0].url(:product)), class:"product-component-image d-block mw-100 w-100 lazyload", alt:"#{product.name}") %>
                    <%#= product_image(product, class:"product-component-image d-block mw-100 w-100", alt:"#{product.name}") %>
                    <%= plp_and_carousel_image(product, "w-100") %>
                  </a>
                    <div>
                      <div class="product-component-name" title="<%= product.name %>">
                        <%= product.name %>
                      </div>
                      <div class="product-component-price"> <%= product.price %> <%= product.cost_currency %> </div>


                    </div>

                    </div>
                </div>
                <% end  %>
              </div>

              <a class="d-md-flex position-absolute justify-content-center align-items-center carousel-icon-control carousel-icon-control--next" href="#trending-desktop" role="button" data-slide="next">
              <span class="d-flex justify-content-center align-items-center carousel-icon-control-rounded" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 11.344 21.156" width="20px" class="spree-icon spree-icon-arrow spree-icon-arrow-right"><path d="m42.617 25.669a.685.685 0 0 0 .968 0 .685.685 0 0 0 0-.968l-8.515-8.516 8.516-8.516a.685.685 0 0 0 -.968-.968l-9.017 9a.685.685 0 0 0 0 .968z" fill="currentColor" transform="matrix(-1 0 0 -1 44.744 26.869)"></path></svg>

              </span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>

        </div>
      </div>

            <%#= render 'spree/shared/carousel_4_products', id: @taxon.permalink, products: @products %>


    <% end %>
    <% end %>

  </div>

 </div>

<style>
  #trending-desktop {
    margin-top: 2%;
  }
</style>