<h1>
  <%= @room.name %>
</h1>
<% sent_user_id = @room_messages.first.user_id  rescue ""  %>
<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
      <% @room_messages.each do |room_message| %>
        <div class="chat-message-container">
          <div class="row no-gutters">
            <div class="col-auto text-center">
              <img src="<%= room_message.user.gravatar_url %>" class="avatar" alt="">
            </div>
            <div class="col">
              <div class="message-content <%= room_message.user_id == sent_user_id ? 'msg-send' : 'msg-receive' %> ">
                <p class="mb-1">
                  <%= room_message.message %>
                </p>
                <div class="text-right">
                  <small>
                    <%= time_ago_in_words(room_message.created_at) %> ago
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for @room_message, remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :message, as: :string,
                       wrapper: false,
                       label: false,
                       input_html: {
                           class: 'chat-input',
                           autocomplete: 'off'
                       } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
        </div>
      </div>

      <%= form.input :room_id, as: :hidden %>
    <% end %>
  </div>
</div>


<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col-auto text-center">
        <img src="" class="avatar" alt="" data-role="user-avatar">
      </div>

      <div class="col">
        <div class="message-content">
          <p class="mb-1" data-role="message-text">
          </p>
          <div class="text-right">
            <small data-role="message-date">
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(".chat").animate({scrollTop:   $(".chat").prop("scrollHeight")}, 400);

    $.post("/update_read_message_admin_room",
        {
            authenticity_token: $('[name="csrf-token"]')[0].content,
            user_id: "<%= spree_current_user.id %>",
            room_id: "<%= @room.id %>"
        },
        function(data, status){
            $(".unread_message_count").text("");
        });


</script>
<style>
  div.chat{
    overflow: scroll;
    height: 80%;
  }

</style>